/* Extra Small Device */
@media(max-width: 575px){
/* Common css */
.title {
	text-align: center !important;
}
.title h5 {
	font-size: 19px;
}
.title::after {
	top: 75px;
	height: 3px;
	width: 60%;
	left: 50% !important;
	transform: translateX(-50%);
}
/* Navbar */
#navbar {
	margin: 0 15px;
}
#navbar ul li a {
	font-size: 14px;
}
.circle-nav-wrapper .circle-nav-toggle {
	right: 30px;
}
#navbar .circle-nav-open .big_circle {
	height: 290px;
	width: 290px;
}
.circle-nav-wrapper .circle-nav-panel.circle-nav-open {
	width: 320px;
	height: 320px;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-1 {
	left: 18%;
	bottom: 85%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-2 {
	left: 15%;
	bottom: 71%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-3 {
	left: 13%;
	bottom: 57%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-4 {
	left: 22%;
	bottom: 44%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-5 {
	left: 40%;
	bottom: 33%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-6 {
	left: 63%;
	bottom: 23%;
}
/* Banner */
.for_xs_sm_md{
	display: block;
}
.for_lg_nor_xl{
	display: none;
}
.button a {
	color: #fff;
}
#banner .main{
	background: url(../images/banner.png) no-repeat center;
	background-size: cover;
}
#banner .main .overlay{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0,0.7);
	padding: 50px 0 100px 0;
}
#banner .left p {
	color: #fff;
	padding: 20px 15px 40px 15px;
}
#banner .left {
	width: auto;
	text-align: center;
	margin-top: 120px;
	margin-left: 0;
}
#banner .left h1 {
	font-size: 62px;
}
#banner .left h3 {
	color: #fff;
	font-size: 40px;
}
/* Our Services */
#service {
	margin-top: 80px;
}
#service .main::before {
	display: none;
}
#service .main::after {
	display: none;
}
#service .item {
	flex-direction: column !important;
}
#service .item .img {
	width: auto;
}
#service .item .text {
	width: auto;
	text-align: center !important;
}
#service .main .item p {
	padding: 0 30px;
}
#service .up::after {
	bottom: 5px;
}
#service .main .item h3 {
	margin-bottom: 10px;
	margin-top: 10px;
}
/* About Us */
#about_us .right {
	text-align: center;
	margin: 10px 30px;
}
#about_us .right p {
	margin: 15px 0px 15px 0 !important;
}
#about_us .right .designation {
	margin-right: 0;
	margin-top: 20px;
}
#about_us .right .designation p{
	margin-top: 0 !important;
}
#about_us .left .main .item {
	height: 100px;
	width: 100px;
}
#about_us .left {
	padding-bottom: 100%;
}
#about_us .left .main{
	transform: rotate(-45deg) translate(20px,10px);
}
#about_us .left .main .item1 {
	top: 12px;
	left: -82px;
}
#about_us .left .main .item1 img {
	margin: -37px 0px 0px -118px;
}
#about_us .left .main .item2 {
	height: 180px;
	width: 180px;
	top: 17px;
	left: 82px;
}
#about_us .left .main .item2 img {
	height: 100%;
	width: 90%;
}
#about_us .left .main .item3 {
	top: 120px;
	left: -82px;
}
#about_us .left .main .item3 img {
	margin: -71px 0px 0px -113px;
}
#about_us .left .main .item4 {
	top: 121px;
	left: 26px;
}
#about_us .left .main .item4 img {
	margin: 0px 0px 0px -140px;
}
/* Portfolio */
#portfolio .main .item {
	margin: 0 15px 10px 15px;
}
/* Plugin part */
#plugin .line {
	display: none;
}
#plugin .item .left {
	justify-content: center;
	margin-right: 0;
	text-align: center;
}
#plugin .slick-arrow {
	left: 48.8%;
}
#plugin .up_arrow {
	top: -20px;
}
#plugin .bottom_arrow {
	bottom: -20px;
}
#plugin .item .middle {
	margin-top: 10px;
	justify-content: center;
}
#plugin .item .text {
	padding-right: 0;
	text-align: center;
	margin-top: 20px !important;
	margin: 0 15px;
}
#plugin .item .text p {
	background: #f1f1f1;
	padding: 20px 20px 20px 20px;
	filter: drop-shadow(0 0 2px rgba(0, 0, 0,0.5));
}
#plugin .item .right  {
	margin-top: 10px;
}
/* Price */
#price .item {
	margin: 0 15px 20px 15px;
}
#price .item .amount {
	margin: 10px 0;
}
#price .item {
	padding: 25px 0 5px 0;
}
#price .item .img img {
	margin-bottom: 5px;
}
#price .item .img {
	padding: 15px 0 0 0;
}
#price .item ul li {
	line-height: 30px;
}
/* Team */
#team .item {
	margin: 0 15px 20px 15px;
}
/* Blog */
#blog {
	margin-bottom: 10px;
}
#blog .item {
	flex-direction: column;
	margin: 0 30px 40px 30px;
}
#blog .item .left {
	text-align: center;
}
#blog .item .right {
	text-align: center;
	margin-left: 0;
	margin-top: 20px;
}
#blog .item .date {
	justify-content: center;
}
#blog .right .text .common {
	margin-right: 0;
}
#blog .right .text .date .common1 {
	margin-left: 15px;
}
#blog .item .left .img .overlay {
	top: 50%;
	left: 50%;
	width: 59%;
	transform: translate(-50%,-50%);
}
#blog .right .text p {
	padding-right: 0;
}
#blog .right .text .share {
	margin: 10px 0;
	justify-content: space-between;
}
#blog .right .text span {
	font-size: 11px;
}
/* Brand */
.brand .common {
	margin: 20px 15px;
}
/* Footer */
#footer {
	padding-top: 40px;
	padding-bottom: 0;
}
#footer .footeritem  {
	margin: 0 15px 40px 15px;
}
#footer .footeritem4 {
	margin: 0 30px 0px 30px;
	text-align: center;
}
#footer .footeritem .text {
	text-align: center;
}
#footer .footeritem1 .text p {
	padding: 10px 10px 30px 10px;
}
#footer .footeritem1 .logo{
	margin-left: 15px;
}
#footer .footeritem1 .logo .p1 {
	padding: 5px 15px 0 20px;
}
#footer .footeritem1 .icon {
	justify-content: center;
}
.footeritem2 .contact_text{
	text-align: center;
}
.footeritem2 .contact_text p {
	padding-right: 0%;
}
#footer .footeritem3  {
	text-align: center;
}
.footeritem2 .contact_text .email {
	margin: 10px 0;
}

}
/* Small Device */
@media (min-width: 576px) and (max-width: 767px){
/* Common css */
.title {
	text-align: center !important;
}
.title h5 {
	font-size: 19px;
}
.title::after {
	top: 75px;
	height: 3px;
	width: 33%;
	left: 50% !important;
	transform: translateX(-50%);
}
/* Navbar */
#navbar {
	margin: 0 15px;
}
#navbar ul li a {
	font-size: 14px;
}
.circle-nav-wrapper .circle-nav-toggle {
	right: 30px;
}
#navbar .circle-nav-open .big_circle {
	height: 310px;
	width: 310px;
}
.circle-nav-wrapper .circle-nav-panel.circle-nav-open {
	width: 350px;
	height: 350px;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-1 {
	left: 10%;
	bottom: 85%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-2 {
	left: 7%;
	bottom: 71%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-3 {
	left: 5%;
	bottom: 57%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-4 {
	left: 14%;
	bottom: 44%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-5 {
	left: 30%;
	bottom: 31%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-6 {
	left: 56%;
	bottom: 20%;
}
/* Banner */
.for_xs_sm_md{
	display: block;
}
.for_lg_nor_xl{
	display: none;
}
.button a {
	color: #fff;
}
#banner .main{
	background: url(../images/banner.png) no-repeat center;
	background-size: cover;
}
#banner .main .overlay{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0,0.7);
	padding: 50px 0 100px 0;
}
#banner .left p {
	color: #fff;
	padding: 20px 15px 40px 15px;
}
#banner .left {
	width: auto;
	text-align: center;
	margin-top: 100px;
	margin-left: 0;
}
#banner .left h1 {
	font-size: 62px;
}
#banner .left h3 {
	color: #fff;
	font-size: 40px;
}
/* Our Services */
#service {
	margin-top: 80px;
}
#service .main::before {
	display: none;
}
#service .main::after {
	display: none;
}
#service .item {
	flex-direction: column !important;
	margin-bottom: 10px !important;
}
#service .main .item h3 {
	margin-bottom: 10px;
	margin-top: 20px;
}
#service .item .img {
	width: auto;
}
#service .item .text {
	width: auto;
	text-align: center !important;
}
#service .main .item p {
	padding: 0 45px;
}
#service .up::after {
	bottom: 5px;
}
/* About Us */
#about_us .right {
	text-align: center;
	margin: 80px 30px 10px 30px;
}
#about_us .right p {
	margin: 15px 0px 15px 0 !important;
}
#about_us .right .designation {
	margin-right: 0;
	margin-top: 20px;
}
#about_us .right .designation p{
	margin-top: 0 !important;
}
#about_us .left {
	padding-bottom: 80%;
}
#about_us .left .main{
	transform: rotate(-45deg) translate(25px,15px);
}
/* Portfolio */
#portfolio .main .item {
	margin: 10px 0px 10px 0px;
}
#portfolio .main .common_item {
	width: 60%;
	margin: 0 auto;
}
/* Plugin part */
#plugin .line {
	display: none;
}
#plugin .item .left {
	justify-content: center;
	margin-right: 0;
	text-align: center;
}
#plugin .slick-arrow {
	left: 48.8%;
}
#plugin .up_arrow {
	top: -20px;
}
#plugin .bottom_arrow {
	bottom: -20px;
}
#plugin .item .middle {
	margin-top: 10px;
	justify-content: center;
}
#plugin .item .text {
	padding-right: 0;
	text-align: center;
	margin-top: 20px !important;
	margin: 0 15px;
}
#plugin .item .text p {
	background: #f1f1f1;
	padding: 20px 20px 20px 20px;
	filter: drop-shadow(0 0 2px rgba(0, 0, 0,0.5));
}
#plugin .item .right  {
	margin-top: 10px;
}
/* Price */
#price .item {
	margin: 0 35px 40px 35px;
}
#price .item .amount {
	margin: 10px 0;
}
#price .item {
	padding: 25px 0 5px 0;
}
#price .item .img img {
	margin-bottom: 5px;
}
#price .item .img {
	padding: 15px 0 0 0;
}
#price .item ul li {
	line-height: 35px;
}
/* Team */
#team .item {
	margin: 0 1px 20px 1px;
}
/* Blog */
#blog {
	margin-bottom: 10px;
}
#blog .item {
	flex-direction: column;
	margin: 0 30px 40px 30px;
}
#blog .item .left {
	text-align: center;
}
#blog .item .right {
	text-align: center;
	margin-left: 0;
	margin-top: 20px;
}
#blog .item .date {
	justify-content: center;
}
#blog .right .text .common {
	margin-right: 0;
}
#blog .right .text .date .common1 {
	margin-left: 15px;
}
#blog .item .left .img .overlay {
	top: 50%;
	left: 50%;
	width: 33.5%;
	transform: translate(-50%,-50%);
}
#blog .right .text p {
	padding-right: 0;
}
#blog .right .text .share {
	margin: 10px 0;
	justify-content: space-around;
}
/* Brand */
.brand .common {
	margin: 20px 15px;
}
.brand .common{
	box-shadow: 0px 0px 2px 1px rgba(0,1,1,0.3);
	border: 1px solid #ff5f6d;
}
/* Footer */
#footer {
	padding-top: 40px;
	padding-bottom: 0;
}
#footer .footeritem  {
	margin: 0 15px 80px 15px;
}
#footer .footeritem4 {
	margin: 0 30px 0px 30px;
	text-align: center;
}
#footer .footeritem .text {
	text-align: center;
}
#footer .footeritem1 .text p {
	padding: 10px 10px 30px 10px;
}
#footer .footeritem1 .logo{
	margin-left: 15px;
}
#footer .footeritem1 .logo .p1 {
	padding: 5px 15px 0 20px;
}
#footer .footeritem1 .icon {
	justify-content: center;
}
.footeritem2 .contact_text{
	text-align: center;
}
.footeritem2 .contact_text p {
	padding-right: 0%;
}
#footer .footeritem3  {
	text-align: center;
}
.footeritem2 .contact_text .email {
	margin: 10px 0;
}

}
/* Medium Device */
@media (min-width: 768px) and (max-width: 991px){
/* Common css */
.title {
	text-align: center !important;
}
.title h5 {
	font-size: 19px;
}
.title::after {
	top: 75px;
	height: 3px;
	width: 33%;
	left: 50% !important;
	transform: translateX(-50%);
}
/* Navbar */
#navbar {
	margin: 0 15px;
}
#navbar ul li a {
	font-size: 14px;
}
.circle-nav-wrapper .circle-nav-toggle {
	right: 30px;
}
#navbar .circle-nav-open .big_circle {
	height: 310px;
	width: 310px;
}
.circle-nav-wrapper .circle-nav-panel.circle-nav-open {
	width: 350px;
	height: 350px;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-1 {
	left: 10%;
	bottom: 85%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-2 {
	left: 7%;
	bottom: 71%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-3 {
	left: 5%;
	bottom: 57%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-4 {
	left: 14%;
	bottom: 44%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-5 {
	left: 30%;
	bottom: 31%;
}
.circle-nav-wrapper .circle-nav-menu.circle-nav-open .circle-nav-item.circle-nav-item-6 {
	left: 56%;
	bottom: 20%;
}
/* Banner */
.for_xs_sm_md{
	display: block;
}
.for_lg_nor_xl{
	display: none;
}
.button a {
	color: #fff;
}
#banner .main{
	background: url(../images/banner.png) no-repeat center;
	background-size: cover;
}
#banner .main .overlay{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0,0.7);
	padding: 50px 0 100px 0;
}
#banner .left p {
	color: #fff;
	padding: 20px 15px 40px 15px;
}
#banner .left {
	width: auto;
	text-align: center;
	margin-top: 100px;
	margin-left: 0;
}
#banner .left h1 {
	font-size: 62px;
}
#banner .left h3 {
	color: #fff;
	font-size: 40px;
}
/* Our Services */
#service {
	margin-top: 80px;
}
#service .main::before {
	display: none;
}
#service .main::after {
	display: none;
}
#service .item {
	flex-direction: column !important;
	margin-bottom: 10px !important;
}
#service .main .item h3 {
	margin-bottom: 10px;
	margin-top: 20px;
}
#service .item .img {
	width: auto;
}
#service .item .text {
	width: auto;
	text-align: center !important;
}
#service .main .item p {
	padding: 0 15px;
}
#service .up::after {
	bottom: -13px;
}
#service .up {
	margin-bottom: 20px;
}
/* About Us */
#about_us .right {
	text-align: center;
	margin: 80px 30px 10px 30px;
}
#about_us .right p {
	margin: 15px 0px 15px 0 !important;
}
#about_us .right .designation {
	margin-right: 0;
	margin-top: 20px;
}
#about_us .right .designation p{
	margin-top: 0 !important;
}
#about_us .left {
	padding-bottom: 70%;
	margin-top: -50px;
}
#about_us .left .main{
	transform: rotate(-45deg) translate(70px,50px);
}
/* Portfolio */
#portfolio .main .item {
	margin: 10px 0px 10px 0px;
}
#portfolio .main .common_item {
	width: 50%;
	margin: 0 auto;
}
/* Plugin part */
#plugin .up_arrow {
	top: 8px;
}
#plugin .slick-arrow {
	left: 29.1%;
}
#plugin .item .text {
	padding-right: 0%;
}
#plugin .slick-center .text {
	padding-left: 0%;
}
#plugin .bottom_arrow {
	bottom: -12px;
}
#plugin .item .middle {
	justify-content: flex-start;
}
#plugin .slick-center .middle {
	justify-content: flex-end !important;
}
/* Price */
#price .item {
	margin-right: 15px;
	margin-left: 15px;
}
#price .item .amount {
	margin: 10px 0;
}
#price .item .img img {
	margin-bottom: 5px;
}
#price .item .img {
	padding: 15px 0 0 0;
}
#price .item ul li {
	line-height: 35px;
}
/* Team */
#team .item {
	margin: 0 1px 20px 1px;
}
/* Blog */
#blog {
	margin-bottom: 10px;
}
#blog .item {
	flex-direction: column;
	margin: 0 15px 40px 15px;
}
#blog .item .left {
	text-align: center;
}
#blog .item .right {
	text-align: center;
	margin-left: 0;
	margin-top: 20px;
}
#blog .item .date {
	justify-content: center;
}
#blog .right .text .common {
	margin-right: 0;
}
#blog .right .text .date .common1 {
	margin-left: 15px;
}
#blog .item .left .img .overlay {
	top: 50%;
	left: 50%;
	width: 54%;
	transform: translate(-50%,-50%);
}
#blog .right .text p {
	padding-right: 0;
}
#blog .right .text .share {
	margin: 10px 0;
	justify-content: space-between;
}
/* Brand */
.brand .common {
	margin: 20px 15px;
}
/* Footer */
#footer {
	padding-top: 40px;
	padding-bottom: 0;
}
#footer .footeritem  {
	margin: 0 15px 40px 15px;
}
#footer .footeritem4 {
	margin: 0 30px 0px 30px;
	text-align: center;
}
#footer .footeritem .text {
	text-align: center;
}
#footer .footeritem1 .text p {
	padding: 10px 10px 30px 10px;
}
#footer .footeritem1 .logo{
	margin-left: 15px;
}
#footer .footeritem1 .logo .p1 {
	padding: 5px 15px 0 20px;
}
#footer .footeritem1 .icon {
	justify-content: center;
}
.footeritem2 .contact_text{
	text-align: center;
}
.footeritem2 .contact_text p {
	padding-right: 0%;
}
#footer .footeritem3  {
	text-align: center;
}
.footeritem2 .contact_text .email {
	margin: 10px 0;
}

}
/* Large Device */
@media (min-width: 992px) and (max-width: 1199px){
	.for_xs_sm_md{
		display: none;
	}
	.for_lg_nor_xl{
		display: block;
	}
	#banner .right {
		clip-path: circle(80% at 90% -15%);
	}
	#service {
		margin-top: 150px;
	}
	#service .item .img {
		width: auto;
	}
	#service .item .text {
		width: 60%;
	}
	#service .main .item p {
		font-size: 13px;
	}
	#about_us .right .p1 {
		padding-right: 15px;
	}
	#plugin .slick-arrow {
		left: 34.4%;
	}
	#plugin .item .middle {
		margin-right: 25px;
	}
	#plugin .slick-center .middle {
		margin-left: 65px;
	}
	#plugin .slick-center .left {
		margin-left: 25px;
	}
	#plugin .item {
		margin: 27px 0;
	}
	#team .item:hover .img .overlay .text {
		top: 60%;
	}
	.brand .common img {
		height: 100%;
		width: 100%;
	}
	#blog .right .text .share {
		margin: 10px 0;
	}
	#blog .item1{
		margin-left: 15px;
	}
	#blog .right .text p {
		font-size: 13px;
	}
}